@model weatherpro.Models.DB.favourite

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>favourite</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.place.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.register.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.register.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.fid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
