@model weatherpro.Models.DB.place

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coord_lon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coord_lon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coord_lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coord_lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wday.pid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wday.pid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wthreeh.weather_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wthreeh.weather_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.pid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
